<header class="header">
  <nav class="header__nav">
    <div class="header__toggle-menu">
      <a href="javascript:" class="icon" left-menu-toggle (click)="toggleSidebar()">
        <i class="material-icons dlv-icon" [ngClass]="collapseSidebar ? '' : 'active'">menu</i>
      </a>
    </div>
    <div class="header__brand">
      <div class="header__brand-img">
        <img class="logo-img" alt="logo" src="assets/images/logo.svg" />
      </div>
      <div class="header__brand-text">
        <span class="header__brand-name">TODO </span>
        <br />
      </div>
    </div>
    <div class="header__service-menu">
      <section>
        <div class="example-button-row">
          <button mat-stroked-button (click)="saveTask()">Save</button>
        </div>
      </section>
    </div>
    <div class="header__service-menu">
      <section>
        <div class="example-button-row">
          <button mat-stroked-button (click)="addTask()">ADD</button>
        </div>
      </section>
    </div>
    <div class="header__service-menu">
      <section>
        <div class="example-button-row">
          <button mat-stroked-button (click)="deleteTask()">Delete</button>
        </div>
      </section>
    </div>

    <div class="header__service-menu  header__notifications hidden-sm">
      <section>
        <div class="example-button-row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Search"  (keyup)="getvalue($event)"  value="">
          </mat-form-field>
        </div>
      </section>
    </div>
    <div class="header__notifications">
    </div>
    <div class="header__profile hidden-sm">
    </div>
  </nav>
</header>
<div>
  <div class="menu_visible content-wrapper" title>
    <div class="grey_background"></div>
    <div id="sidebar-wrapper" [ngClass]="collapseSidebar ? 'collapsed' : ''" (clickOutside)="closeSidebar($event)">
      <sidebar></sidebar>
    </div>
    <div class="content-area" style="margin-top: 18px ">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>